<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>募資平台</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">募資平台</a> by 數位金融第六組</h1>
					<nav id="nav">
						<ul>
							<li><a href="#" id="uid"><%- name %></a></li>
							<li><a href="/">首頁</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">功能列表</a>
								<ul>
									<li><a href="/fund_donating">我要捐款</a></li>
									<li><a href="/fund_raising">我要募資</a></li>
									<!-- <li><a href="?.html">其他功能</a></li> -->
									<li>
										<a href="#">其他功能</a>
										<ul>
											<li><a href="/tracking">追蹤已完成募款專案</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="/login" class="button user-out">Log In</a></li>
							<li><a href="/signout" class="button user-in">Sign out</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<h2>區塊鏈募資平台</h2>
					<h3>Clever things for curious humans</h3>
					<ul class="actions">
						<li><a href="/signup" class="button special user-out">Sign Up</a></li>
						<li><a href="/login" class="button user-out">Log In</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">
					<section id="one" class="wrapper style2 user-in">
						<div class="inner">
							<div class="grid-style">
				
								<div>
									<div class="box">
										<header class="align-center">
											<h1>募款專案 編號001</h1>
											<h2>【eterno】第二代 智慧恆溫寵物墊｜給寶貝溫暖的支撐</h2>
											<p>照顧毛小孩的最佳利器</p>
										</header>
				
										<div class="image fit">
											<img src="images/project11.jpg" alt="" />
										</div>
										<div class="content">
											<p><h3>「eterno智慧恆溫寵物墊」打造的睡墊適合全年齡層的毛孩，讓您不必為了毛孩身體機能退化而擔心，因為好用而仍然適用。</h3><p>
											<footer class="align-center">
												<a href="/project_information1" class="button alt">我有興趣，我要看專案內容</a>
											</footer>
										</div>
									</div>
								</div>
				
								<div>
									<div class="box">
										<header class="align-center">
											<h1>募款專案 編號002</h1>
											<h2>在地，元氣竹吸管</h2>
											<p>地表最弱的吸管</p>
										</header>
										<div class="image fit">
											<img src="images/project21.jpg" alt="" />
										</div>
										<div class="content">
				
											<p><h3> 募資案達標的話，元泰會著手種下箭竹苗，2~3年後就會有一片箭竹林，這片竹林將是每一位支持者的貢獻；所以這次募資的不是一個產品，而是一個循環經濟的產業。這是一個屬於台灣本土的計畫，元泰邀你一起許一個照顧家園，照顧山林，還照顧自己的心願。</h3></p>
											<footer class="align-center">
												<a href="project_information2.html" class="button alt">我有興趣，我要看專案內容</a>
											</footer>
										</div>
									</div>
								</div>
				
								<div>
									<div class="box">
										<header class="align-center">
											<h1>募款專案 編號003</h1>
											<h2>XnBay 智慧儲存伺服器</h2>
											<p>雲端我做主</p>
										</header>
										<div class="image fit">
											<img src="images/project31.jpg" alt="" />
										</div>
										<div class="content">
				
											<p><h3> 做出選擇，讓我們一起改變：
													<br> 檔案分享 - 不再有檔案大小、格式限制
													<br> 儲存空間 - 不再有容量付費提示的打擾
													<br> 影像畫質 - 不再被免費的雲端壓縮降低
													<br> 珍貴回憶 - 不再散亂於雲端、外接硬碟
											</h3></p>
											<footer class="align-center">
												<a href="project_information3.html" class="button alt">我有興趣，我要看專案內容</a>
											</footer>
										</div>
									</div>
								</div>
				
							</div>
						</div>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
									<a href="/fund_donating">
										<h3>我要提供捐獻</h3>
										<p>實現夢想，有你有我</p>
									</a>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
                <a href="/fund_raising">
								<h3>我要發起募資</h3>
								<p>實現創意的第一步</p>
                </a>
							</section>
						</div>
						<div class="features-row">
              <!--
              <section>
								<span class="icon major fa-cloud accent4"></span>
                <h3>Sed feugiat</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
              -->
						<section>
							<span class="icon major fa-lock accent5"></span>
							<a href="/tracking">
							<h3>追蹤已完成募款專案</h3>
							<p>公開透明好安心</p>
							</a>
						</section>
						<section>
							<span class="icon major fa-lock accent5"></span>
							<a href="/step">
							<h3>階段性放款</h3>
							<p>公開透明好安心</p>
							</a>
						</section>
						</div>
					</section>
<!--
					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Sed lorem adipiscing</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>
  -->


			<!-- Footer -->
				<footer id="footer">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
          </ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>

	</body>
</html>
