<!DOCTYPE HTML>
<html>
	<head>
		<title>在地，元氣竹吸管</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		
		<style>
			.imgcontainer {
			    text-align: center;
			    margin: 24px 0 12px 0;
			}
		</style>
	-->
	</head>


	<body>
		<div id="page-wrapper">

		<!-- Header -->
				<header id="header">
					<h1><a href="/">募資平台</a> by 數位金融第六組</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">首頁</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">功能列表</a>
								<ul>
									<li><a href="/fund_donating">我要捐款</a></li>
									<li><a href="/fund_raising">我要募資</a></li>
									<!-- <li><a href="?.html">其他功能</a></li> -->
									<li>
										<a href="#">其他功能</a>
										<ul>
											<li><a href="/racking">追蹤已完成募款專案</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button">Log In</a></li>
						</ul>
					</nav>
				</header>


		<!-- Banner 			
			<section id="banner">
				
			</section>
		-->
		<br><br><br><br>
		<div class="imgcontainer">
   			 <img src="images/project21.jpg" alt="Avatar" class="img-thumbnail">
 		 </div>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h3>元氣竹吸管</h3>
									<h3>專案內容</h3>
									<p>元氣竹吸管華麗登場</p>
									<p>
										依據財團法人塑膠工業技術發展中心的資料，目前台灣每年使用30億支塑膠吸管，以一支18cm的吸管來計算的話，可以繞地球13.5圈，這還只是台灣...看著土裡長出來100%可分解的吸管，自詡比貓熊還了解竹子的我們真的忍不住惹...

										歷經兩年的測試與材料尋找，累積了幾萬支的經驗，調整生產工序與流程，可能不用畫上百張草圖，但肯定去要爬好幾座山，砍個幾千隻竹子，因為台灣目前沒有專門處理類似材料的產業，沒有範例可以依循，我們從頭來過，才有這支竹吸管。
									</p>
								</header>
							</div>


							<div class="6u$ 12u$(medium)">

			<div class="col-sm-4 sidebar numberSidebar">

	                <div class="numberRow totalFund">
	                	<br><br><br>	
	                	<h1 class="number moneyFormat">已募得: $0</h1>                    
	                    <p class="metatext moneyFormat">目標 $100,000</p>

	                    <div class="mdl-tooltip" for="percent" data-upgraded=",MaterialTooltip">0.0%</div>
	                </div>

	                <div class="utiliRow totalDays">
	                    <h1>33</h1> <p class="metatext">天後結束</p> 
	                </div>
<!--
	                <blockquote class="">
	                    專案募資成功！<br>在 2018/02/08 23:59 募資結束前，您都可以持續贊助此計畫。                
	                </blockquote>
-->
            </div>
								募款進度
								<div id="myProgress">
								  <div id="myBar"></div>
								</div><br>

								<ul class="actions">
									<li><a href="/fund_donating" class="button special big">我有興趣! 捐款去</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>商品資訊</h2>
							<p>目標：元氣竹林</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/project22.jpg" alt="" />
									<h3>募資案達標的話，元泰會著手種下箭竹苗，2~3年後就會有一片箭竹林，這片竹林將是每一位支持者的貢獻；所以這次募資的不是一個產品，而是一個循環經濟的產業。這是一個屬於台灣本土的計畫，元泰邀你一起許一個照顧家園，照顧山林，還照顧自己的心願。</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/project23.jpg" alt="" />
									<h3>各位常看到的箭竹不是在陽明山國家公園就是在阿里山國家公園，滿山遍野的箭竹沒有一根能任意取用（瞎咪？你上次就折了一根！放心，我不會檢舉你，下次不要這樣喔XD），募資回饋品的材料是好不容易在南投找到的一小批，因為取材不易，所以我們才要在竹山自己種一片箭竹林，以後就能從源頭管理竹材，讓竹吸管品質更好。</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="/fund_donating" class="button special big">我要捐款!</a></li>
							<!--<li><a href="#" class="button big">Sed vulputate</a></li> -->
						</ul>
					</div>
				</section>

			<!-- Three 
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Mauris vulputate dolor</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Lorem ipsum</h4>
										<p>Lorem ipsum dolor sit</p>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Recusandae nemo</h4>
										<p>Ratione maiores a, commodi</p>
									</header>
									<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Laudantium fugit</h4>
										<p>Possimus ex reprehenderit eaque</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Porro aliquam</h4>
										<p>Quaerat, excepturi eveniet laboriosam</p>
									</header>
									<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			-->

			<!-- Four 
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Aenean elementum ligula</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>
			-->
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>
		</div>
		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollgress.min.js"></script>

	</body>
</html>